### 27. Python operators

In [1]:
10 == 10

True

In [2]:
a = 10
b = 20

In [3]:
a == b

False

In [4]:
a = b
a

20

In [6]:
'10' == 10

False

In [7]:
'tom' == 'Tom'

False

In [8]:
[1,2,3] == [1,2,3]

True

In [10]:
[1,2,3] == [2,1,3]

False

In [11]:
10 != 20

True

In [12]:
30 > 40

False

In [13]:
30 >= 30

True

#### Logical operators

In [15]:
4 > 3 and 100 > 3

True

In [17]:
3 > 1 and 3 == 3 and 4 < 100

True

In [18]:
3 < 4

True

In [19]:
4 < 3

False

In [20]:
3 < 4 or 4 < 3

True

In [21]:
a = 20
b = 20

In [22]:
a is b

True

In [23]:
a is not b

False

### 28. Control flow

#### if condition:
    #### <block of code to execute if True>

In [26]:
if 4>3:
    print('the condition is true')
print('this statement will always print')

the condition is true
this statement will always print

In [27]:
if 4<3:
    print('the condition is true')
print('this statement will always print')

this statement will always print

In [28]:
x = 40
if x < 50:
    print(f'120% of the value of x is {x*1.2}')

120% of the value of x is 48.0

In [3]:
x = 60
if x < 50:
    print(f'120% of the value of x is {x*1.2}')

In [4]:
x = 40
if x < 50:
    print(f'120% of the value of x is {x*1.2}')

120% of the value of x is 48.0

#### if condition:
    #### <block of code to execute if True>
#### else:
    #### <block of code to execute if False>

In [5]:
if x < 200:
    print("x is less than 200")
else:
    print("x is not less than 200")

x is less than 200

#### if condition:
    #### <block of code to execute if True>
#### elif condition:
    #### <block of code to execute if True>
#### else:
    #### <block of code to execute if Frue>

In [12]:
if 5 > 100:
    print("The if statement is True")
elif 5>100:
    print("The second if statement is True")
elif 5>100:
    print("The if statement is True")
else:
    print('All conditions are False')

All conditions are False

In [13]:
if 5 < 100:
    print('The if statement is True')
if 5 < 100:
    print('THe second if statement is True')
if 5 < 100:
    print('The third statement is true')

The if statement is True
THe second if statement is True
The third stateme is true

In [14]:
x = 10

In [17]:
if x >= 10:
    x = x*10

In [18]:
x

100

#### Nested statements

In [27]:
x = 45

In [28]:
if x < 11:
    if x >= 5:
        print('x is less than 11 but greater than 5')
    elif x <10:
        print('x is less than 5')
elif x > 11:
    if x > 50:
        print('x is greater than 50')
    elif x <=50:
        print('x is greter than 11 but less than or equal to 50')

x is greter than 11 but less than or equal to 50

In [31]:
# Do not overwrite
import random
grade = random.randint(0,100)

# Write your solution below
if grade >= 80:
    print("The student has aced the exam")
elif grade >= 50:
    print("The student has passed the exam")
else:
    print("The student has failed the exam, better luck next time!")

The student has passed the exam

In [34]:
grade = 80
if grade >= 80:
    print('The student has aced the exam')
elif grade >=50 and grade <80:
    print('The student has passed the exam')
else:
    print('The student has failed the exam, better luck next time!')

The student has aced the exam

### 30. For loops

In [38]:
list_1 = [1,2,3,4,5]

for element in list_1:
    print(element)

1
2
3
4
5

In [39]:
for x in list_1:
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [40]:
for x in [1,2,3,4,5]:
    print(x)

1
2
3
4
5

In [52]:
num = 0

for x in list_1:
    print(num)
    num += 1

0
1
2
3
4

In [54]:
for x in list_1:
    num += 1
    print(num)

11
12
13
14
15

In [55]:
list_2 = [[1,2], [3,4], [5,6]]

In [56]:
for x in list_2:
    print(x)

[1, 2]
[3, 4]
[5, 6]

In [57]:
for x in list_2:
    print(x[1])

2
4
6

In [58]:
for x in list_2:
    print(x[0])
    print(x[1])

1
2
3
4
5
6

In [59]:
list_2

[[1, 2], [3, 4], [5, 6]]

In [61]:
for x in list_2:
    for y in x:
        print(y)

1
2
3
4
5
6

In [62]:
for x in list_2:
    print(x)

[1, 2]
[3, 4]
[5, 6]

In [63]:
for [a,b] in list_2:
    print(a)
    print(b)

1
2
3
4
5
6

In [65]:
list_3 = [[1,2],[3,4,5],[6,7]]

for x in list_3:
    for y in x:
        print(y)

1
2
3
4
5
6
7

In [66]:
tup_1 = (1,2,3,4,5)

for x in tup_1:
    print(x)

1
2
3
4
5

In [67]:
tup_2 = ((1,2), (3,4), (5,6))
for a,b in tup_2:
    print(a)
    print(b)

1
2
3
4
5
6

In [68]:
list_4 = [(1,2),(3,4),(5,6)]

for a,b in list_4:
    print(a)
    print(b)

1
2
3
4
5
6

In [69]:
list_5 = [(1,2), [3,4], {5,6}]

for a,b in list_5:
    print(a)
    print(b)

1
2
3
4
5
6

In [73]:
set_1 = {'tv', 'sofa', 'desk', "lamp"}
for x in set_1:
    print(x)

lamp
sofa
tv
desk

#### String

In [74]:
str_1 = "Hello World" 
for x in str_1:
    print(x)

H
e
l
l
o

W
o
r
l
d

#### Dictionaries

In [75]:
dict_1 = {'key1':'value','key2':'value2'}
for x in dict_1:
    print(x)

key1
key2

In [78]:
dict_1.items()

dict_items([('key1', 'value'), ('key2', 'value2')])

In [79]:
for k,v in dict_1.items():
    print(k)
    print(v)

key1
value
key2
value2

#### Control flow with for loops

In [80]:
furniture = ['sofa', 'desk', 'lamp', 'tv']
for x in furniture:
    if x != 'tv':
        print(x)

sofa
desk
lamp

In [81]:
# Do not overwrite
list_1 = [11,20,33,42,52,61,72,83,92,10]

# Write your solution here
for x in list_1:
    print(x)

11
20
33
42
52
61
72
83
92
10

In [84]:
# Do not overwrite
list_1 = [11,20,33,42,52,61,72,83,92,10]

# Write your solution here
for x in list_1:
    if x % 2 == 0:
        print(x)

20
42
52
72
92
10

### 34. While loops

#### while condition:
    #### <block of code to execute>

In [85]:
a = 0 

while a<5:
    print('a is less than 5')
    a+=1

a is less than 5
a is less than 5
a is less than 5
a is less than 5
a is less than 5

In [87]:
a = 0

while a < 5:
    a+=1
    print(f'The value of a is {a}')

The value of a is 1
The value of a is 2
The value of a is 3
The value of a is 4
The value of a is 5

In [89]:
i = 0

while i < 15:
    i+=1
    print(f'Value of i is {i+1}')

Value of i is 2
Value of i is 3
Value of i is 4
Value of i is 5
Value of i is 6
Value of i is 7
Value of i is 8
Value of i is 9
Value of i is 10
Value of i is 11
Value of i is 12
Value of i is 13
Value of i is 14
Value of i is 15
Value of i is 16

### Break, continue and pass

In [91]:
number = 2

if number == 2:
    pass
else:
    print(number)

In [92]:
num = [0,1,2,3,4,5,6,7,8,9,10]

for x in num:
    if x == 5:
        pass
    else:
        print(x)

0
1
2
3
4
6
7
8
9
10

In [93]:
num = [0,1,2,3,4,5,6,7,8,9,10]

for x in num:
    if x == 5:
        break
    else:
        print(x)

0
1
2
3
4

In [94]:
num = [0,1,2,3,4,5,6,7,8,9,10]

for x in num:
    if x == 5:
        continue
    else:
        print(x)

0
1
2
3
4
6
7
8
9
10

#### 36. List Comprehension

In [95]:
hw_text = 'hello world'
hw_list = []

In [96]:
for character in hw_text:
    hw_list.append(character)

In [97]:
hw_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [100]:
hw_list = [character for character in hw_text]

In [101]:
hw_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [102]:
hw_list = [character.upper() for character in hw_text]
hw_list

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [104]:
hw_list = [character+character for character in hw_text]
hw_list

['hh', 'ee', 'll', 'll', 'oo', '  ', 'ww', 'oo', 'rr', 'll', 'dd']

In [105]:
hw_list = []

for character in hw_text:
    hw_list.append(character+character)
    
hw_list

['hh', 'ee', 'll', 'll', 'oo', '  ', 'ww', 'oo', 'rr', 'll', 'dd']

In [106]:
# Do not overwrite
list_1 = [20,2,3,4,5]

# Write your code below
for x in list_1:
    print(x*16)

320
32
48
64
80

In [111]:
# Do not overwrite
list_1 = [20,2,3,4,5]

# Write your code below
list_2 = [x*16 for x in list_1]

list_2

[320, 32, 48, 64, 80]

#### In Not In operators

In [112]:
list_1 = [1,2,3,4]

4 in list_1

True

In [113]:
6 in list_1

False

In [115]:
tup_1 = (1,2,3,4)
set_1 = {1,2,3,4}

2 in tup_1
2 not in tup_1

False

In [116]:
str_1 = 'Hello'
'H' in str_1

True

In [117]:
dict_1

{'key1': 'value', 'key2': 'value2'}

In [119]:
'key1' in dict_1

True

In [120]:
dict_1.values()

dict_values(['value', 'value2'])

In [121]:
'value1' in dict_1.values()

False