### 39. Built-In Functions

In [1]:
list = list(range(10))
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
max(list)

9

In [3]:
min(list)

0

In [4]:
len(list)

10

In [7]:
liststr = ['a','b','c','d']
min(liststr)
max(liststr)

'd'

In [8]:
len(liststr)

4

In [9]:
x = 100/3
x

33.333333333333336

In [13]:
round(x,5)

33.33333

In [26]:
r = range(0,11,2)

for x in r:
    print(x)

0
2
4
6
8
10

In [29]:
sorted('hello')

['e', 'h', 'l', 'l', 'o']

In [30]:
sorted([1,4,2,4,2,5,67,7])

[1, 2, 2, 4, 4, 5, 7, 67]

In [31]:
x = input('Insert your name: ')
print(x)

Insert your name: nacho
nacho

In [32]:
type(x)

str

In [34]:
list1 = [1,2,3,4]
tup1 = (1,2,3,4)
string1 = 'Hello'

x = zip(list1, tup1, string1)
x

In [41]:
list1

[1, 2, 3, 4]

In [48]:
x = [11,12,13,14]
dict(enumerate(x))

{0: 11, 1: 12, 2: 13, 3: 14}

In [53]:
# Do not overwrite
num = [99,83.298,2,17.823,15]

# Write your code here
sum_num = sum(num)
max_num = max(num)
sorted_num = sorted(num)

print(sum_num)
print(max_num)
print(sorted_num)

217.121
99
[2, 15, 17.823, 83.298, 99]

#### 41. User Defined Functions

#### def function_name(arguments):
    ####<block of code to execute when function is called>

In [54]:
def welcome_message():
    print('welcome')

In [55]:
welcome_message()

welcome

In [56]:
def welcome_name(x):
    print(f'Welcome to {x}')

welcome_name('Nacho')

Welcome to Nacho

In [60]:
def welcome_message(x,y,z):
    print(f'welcom {x}, {y}, {z}')

welcome_message('Nacho', 'Martin', 'Jose')

welcom Nacho, Martin, Jose

In [ ]:
def welcome_message(x = 'name1', y = 'name2', z = 'name3'):
    print(f'welcom {x}, {y}, {z}')

In [61]:
def print_message():
    print(f'hello this message has been printed')

def return_message():
    return 'hello this message has been printed'

return_message()

'hello this message has been printed'

#### 42. Examples

In [2]:
list_1 = [3,10,11,3]

In [3]:
sum(list_1)/len(list_1)

6.75

In [4]:
def avg(x):
    return sum(x)/len(x)

avg(list_1)

6.75

In [5]:
x = [1,2,3,4,5,6,7,8,9,10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
def create_ranged_list():
    x=int(input('Please select a star parameter'))
    y=int(input('Please select a stop parameter'))
    z=int(input('Please select a step parameter'))
    return list(range(x,y,z))

In [7]:
create_ranged_list()

Please select a star parameter1
Please select a stop parameter10
Please select a step parameter2

[1, 3, 5, 7, 9]

In [8]:
def greater_than_10(x):
    for element in x:
        if element > 10:
            return True
        else:
            pass
    return False

In [9]:
greater_than_10([1,3,11])

True

In [10]:
def name_check(list_of_names):
    for name in list_of_names:
        if len(name)>10:
            return True
        else:
            pass
    return False

#### 45. Arguments and Keyword Arguments

In [11]:
def sum_func(x,y):
    return x+y

sum_func(3,4)

7

In [12]:
def sum_func(x=0, y=0, z=0):
    return x+y+z

In [13]:
sum_func(1,2,3)

6

In [14]:
def my_func(*args):
    print(type(args))
    return args

my_func(1,2,3,4)

<class 'tuple'>

(1, 2, 3, 4)

In [15]:
def sum_func(*args):
    x=0
    for num in args:
        x+=num #x=x+m
    return x

In [16]:
sum_func(1,2,2,4,5)

14

In [17]:
def sum_func(*args):
    x=0
    for num in args:
        x+=num #x=x+m
    return x

In [18]:
sum_func(1,2,3,5,32,2,2,22)

69

In [19]:
def key_word_func(**kwargs):
    print(type(kwargs))
    return kwargs

In [20]:
key_word_func(name='Linda', age=52)

<class 'dict'>

{'name': 'Linda', 'age': 52}

In [21]:
def key_word_func(**kwargs):
    if 'food' in kwargs:
        return f"My Name is {kwargs['name']} and my favourite food is {kwargs['food']}"
    else:
        return f"My names is {kwargs['name']} and I have no favourite food"
    
key_word_func(name='John', food='pizza')

'My Name is John and my favourite food is pizza'

In [23]:
key_word_func(name = 'John', sport = 'soccer')

'My names is John and I have no favourite food'

In [24]:
def args_kwargs(*args, **kwargs):
    print(args)
    print(kwargs)

In [25]:
args_kwargs(1,2,3,4, "random_string", sports='football', age=33)

(1, 2, 3, 4, 'random_string')
{'sports': 'football', 'age': 33}

#### 46. Map filter

In [26]:
countries = ['Argentina', 'United States', 'Uganda', 'Germany']

In [27]:
for x in countries:
    print(len(x))

9
13
6
7

In [29]:
list(map(len, countries))

[9, 13, 6, 7]

In [30]:
for x in map(len, countries):
    print(x)

9
13
6
7

In [31]:
def return_len(x):
    return f' {x}: {len(x)}'

In [32]:
return_len('Hello')

' Hello: 5'

In [33]:
list(map(return_len, countries))

[' Argentina: 9', ' United States: 13', ' Uganda: 6', ' Germany: 7']

#### Filter

In [34]:
countries_list = ['Argentina', 'Mexico', 'Brazil', 99]

In [35]:
def is_str(x):
    return type(x) == str

is_str(2)

False

In [36]:
is_str('Argentina')

True

In [37]:
list(filter(is_str, countries_list))

['Argentina', 'Mexico', 'Brazil']

#### 47. Lambda Expressions

In [38]:
list_1 = ['Argentina', 'Mexico', 'Brazil', 99]

In [39]:
def is_str(x):
    return type (x) == str

In [40]:
list(filter(is_str, list_1))

['Argentina', 'Mexico', 'Brazil']

In [43]:
lambda x: type(x)==str

In [44]:
list(filter(lambda x: type(x)==str,list_1))

['Argentina', 'Mexico', 'Brazil']

In [45]:
list_2 = [1,2,3,4,5,6]

In [49]:
def func_multiply(x):
    return x*2

In [51]:
list(map(func_multiply,list_2))

[2, 4, 6, 8, 10, 12]

In [53]:
list(map(lambda x: x*2, list_2))

[2, 4, 6, 8, 10, 12]

In [55]:
def if_multiply(x):
    if x>3:
        return x*2
    else:
        return x

In [57]:
list(map(if_multiply, list_2))

[1, 2, 3, 8, 10, 12]

In [59]:
# Do not overwrite
list_1 = [99,88,2,3,55,66,7,44,10]

# Write your code here
list_filtered = list(filter(lambda x: x > 10, list_1))
list_filtered

[99, 88, 55, 66, 44]

#### 49. Error

In [69]:
try:
    print(100/0)
except ZeroDivisionError: #setting the error 
    print("You can not divide by 0")
except TypeError: #setting another error
    print('Incompatable types')
else:
    print('Everything went well')
finally:
    print("This will allways print")

You can not divide by 0
This will allways print