### 79. HTML

In [1]:
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_films'

In [4]:
movies = pd.read_html(url)
#movies = pd.read_html(url, match='Highest-grossing films as of 2020 adjusted for inflation')

In [5]:
type(movies)

list

In [16]:
movies[1]

   Rank                         Title Worldwide gross(2020 $)  Year
0     1            Gone with the Wind          $3,724,000,000  1939
1     2                        Avatar         A$3,273,000,000  2009
2     3                       Titanic         T$3,096,000,000  1997
3     4                     Star Wars          $3,059,000,000  1977
4     5             Avengers: Endgame        AE$2,811,000,000  2019
5     6            The Sound of Music          $2,562,000,000  1965
6     7    E.T. the Extra-Terrestrial          $2,501,000,000  1982
7     8          The Ten Commandments          $2,368,000,000  1956
8     9                Doctor Zhivago          $2,244,000,000  1965
9    10  Star Wars: The Force Awakens          $2,213,000,000  2015

In [19]:
timeline = pd.read_html(url, match='Timeline of the highest-grossing film record')

In [20]:
timeline

[     Established                       Title        Record setting gross  \
 0       1915[56]       The Birth of a Nation                 $5,200,000R
 1           1940       The Birth of a Nation              $15,000,000R ‡
 2       1940[28]          Gone with the Wind                $32,000,000R
 3           1963          Gone with the Wind              $67,000,000R ‡
 4       1966[56]          The Sound of Music               $114,600,000R
 5       1971[56]          Gone with the Wind             $116,000,000R ‡
 6       1972[56]               The Godfather   $127,600,000–142,000,000R
 7   1976[79][80]                        Jaws               $193,700,000R
 8   1978[81][82]                   Star Wars  $410,000,000/$268,500,000R
 9           1982                   Star Wars              $530,000,000 ‡
 10      1983[83]  E.T. the Extra-Terrestrial    $619,000,000–664,000,000
 11          1993  E.T. the Extra-Terrestrial              $701,000,000 ‡
 12      1993[56]               Jurassic Park                $914,691,118
 13      1998[84]                     Titanic              $1,843,201,268
 14  2010[85][86]                      Avatar              $2,743,577,587
 15  2010[85][86]                      Avatar            $2,788,416,135 ‡
 16  2019[87][88]           Avengers: Endgame              $2,797,501,328
 17      2021[89]                      Avatar            $2,847,397,339 ‡

       Reference(s)
 0           [# 83]
 1          [# 303]
 2          [# 133]
 3          [# 304]
 4          [# 208]
 5          [# 305]
 6   [# 234][# 306]
 7          [# 249]
 8   [# 307][# 234]
 9          [# 254]
 10  [# 254][# 266]
 11         [# 308]
 12          [# 65]
 13           [# 5]
 14           [# 1]
 15           [# 1]
 16           [# 3]
 17           [# 1]  ]

### 80. Databases

In [21]:
#PyMySQL library

In [22]:
#pandas.read_sql(sql, conection)

In [25]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.0.2)

In [26]:
import pandas as pd
import pymysql

In [27]:
con = pymysql.connect(host='localhost',
                      user='root',
                      password=pw,
                      database='employee')

NameError: name 'pw' is not defined

In [ ]:
employees = pd.read_sql('select * from employees.employees', con)

In [ ]:
employees.head()
len(employees)

### 81. Pandas Input and Output Methods